<p class="text-center text-muted">
    <a href="https://thierrym1212.github.io/cyti" target="_blank"> 
        CYTI Minter 
     </a>
     &nbsp;
    <a href="https://github.com/ThierryM1212/cyti" target="_blank"> 
        <img src="/images/Github.png" alt="github" width='24px'/>
    </a>
</p>