<meta charset="UTF-8">
<title>CYTI miner</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<meta http-equiv="refresh" content="15">
<style>
    body {
        text-align: center;
        margin: auto;
        padding: 0;
        align-items: center;
        justify-content: start;
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.9);
        font-family: 'Courier New', monospace;
        background: rgba(0, 0, 0, 0.9);
    }

    table,
    th,
    td {
        border: 1px solid white;
        margin: 4px;
        padding: 4px;
    }

    .align-left {
        text-align: left;
    }

    .bggrey {
        background: rgba(255, 255, 255, 0.1);
    }

    .tableHearder1 {
        color: <%=generalInfoHeaderColor %>;
    }

    .tableHearder2 {
        color: <%=processInfoHeaderColor %>;
    }
    
</style>